<% if current_page.first? %>
  <li class="disabled">
    <%= content_tag :a do %>
      <em class="material-icons">chevron_left</em>
    <% end %>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to url, :rel => 'prev', :remote => remote do %>
      <em class="material-icons">chevron_left</em>
    <% end %>
  </li>
<% end %>
